$c-white: #fff;
$c-gray-light: #ddd;

$c-main-bg: #f5f5f5;
$c-todos-container-bg: $c-white;
$c-common-border: #e6e6e6;
$c-title: rgba(#af2f2f, .15);
$c-box-shadow: rgba(1, 1, 1, .2);
$c-todo-item_text: #333333;
$c-border-bottom: #e6e6e6;
$c-border-top: $c-border-bottom;
$c-title: rgba(40, 200, 40, .25);
$c-ultra-light: #ccc;
$c-todo-item: #888888;